@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

.font {
  font-family: "Crimson Text", serif;
  font-size: 100px;
}

.flexEnd {
  align-items: flex-end;
}
.center-cropped {
  background-position: 0% 70%;
  background-repeat: no-repeat;
}
.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.flex {
  display: inline-flex;
}
.leftBox {
  float:left;
}
.rightBox {
  float:right;
}
.textleft {
  align-items: left;
  text-align: left;
}

.red {
  color: red
}

.App {
  text-align: center;
  /* background-color: #282c34; */
  color: antiquewhite;
}

.border {
  border-color: aliceblue;
  border-style:dotted;
  border-width: 1px;
  padding: 20px;
}

body {
  background-color: #282c34;
}

/* not being used */

.Home {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
